a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #6C6C6C;
}
.contactUs{
    background-color: rgba(70, 145, 242, 1);
    color: white;
    height: 2em;
    width: 9em;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}
